* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-size: 100%;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgb(119, 177, 169);
    color: rgb(119, 177, 169);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

#quote-box {
    background-color: #fff;
    width: 30%;
    border-radius: 5px;
    padding: 3em;
    filter: drop-shadow(0px 0px 31px rgb(0, 0, 0, 0.2));
    
    display: flex;
    flex-wrap: wrap;
}

#text {
    text-align: center;
    font-size: 1.5rem;

    flex: 1 100%;
}

#author {
    text-align: right;
    
    flex: 1 100%;
}

.buttons {
    flex: 1 100%;
    
    display: flex;
    justify-content: space-between;
}

#tweet-quote,
#new-quote {

    padding: 0.9em;
    border-radius: 5px;
    background: rgb(119, 177, 169);
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;

    flex: 0 auto;
}

#tweet-quote {
    text-decoration: none;
}